@import '@/assets/base.scss';

.content-destination {
  display: grid;
  place-items: center;
  grid-template-columns: 445px 445px;
  gap: 10rem;
  .destination-image {
    height:100%;
  }
  .content-presentation {
    display: grid;
    gap: 2rem;
    // align-self: end;
    // height: max-content;
  }
}

@include tablet {
  .content-destination {
    grid-template-rows: 300px auto;
    grid-template-columns: 576px;
    gap: 3.3rem;

    // .destination-image {
    //   height: 80%;
    // }
    .content-presentation {
      justify-items: center;
      text-align: center;
    }
  }
}

@include mobile {
  .content-destination {
    grid-template-rows: 170px auto;
    grid-template-columns: 327px;

    // .destination-image {
    //   height: 70%;
    // }
  }
}
